.use-case-header {
  background: rgb(29, 92, 174);
  min-height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .menu {
    .list {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        padding: 1rem;
        list-style-type: none;
        a{
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
    .use-case-header {
        background: rgb(29, 92, 174);
        min-height: 70px;
        height: auto;
        color: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        h1 {
          font-size: 1.2rem;
          font-weight: 500;
          text-transform: uppercase;
        }
        .menu {
          .list {
            margin: 0;
            padding: 0;
            display: flex;
            li {
              padding: 0.8rem;
              list-style-type: none;
              a{
                  text-decoration: none;
                  color: #fff;
                  font-size: 0.8rem;
                  cursor: pointer;
              }
            }
          }
        }
      }
}
